{% extends 'base.html' %}

{% block title %} | Deposit {% endblock %}
{% block content %}
{% load static %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>DEPOSIT</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Deposit</li>
            </ul>
        </div>
    </div>
</div>

<!-- Deposit body start -->

<div class="container mt-50 mb-50">
    {% include 'includes/messages.html' %}
      <div class="main-title" style="text-align:left !important;">
              <h1>Welcome <span>{{user.first_name}}</span></h1>
              <p>Here are the cars that you have deposited</p>
          </div>
          {% if deposits %}
              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Car Name</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
  
                {% for deposit in deposits %}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{deposit.car_title}}</td>
                    <td><a href="{% url 'car_detail' deposit.car_id %}" class="btn btn-outline-dark">View Car</a></td>
                    <td>
                      <label class="toggle" for="toggle-{{ deposit.id }}" >
                        <input type="checkbox" id="toggle-{{ deposit.id }}" class="toggle-checkbox">
                       </label>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          {% else %}
            <h4>You have no deposit</h4>
          {% endif %}
</div>

{% endblock %}