{% extends 'base.html' %}

{% block title %} | Login {% endblock %}
{% block content %}
{% load static %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>DEPOSIT</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Deposit</li>
            </ul>
        </div>
    </div>
</div>
<!-- Trong file deposit.html trong thư mục templates/deposit -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Nạp tiền</button>
</form>


{% endblock %}