{% extends 'base.html' %}

{% block title %} | Login {% endblock %}
{% block content %}
{% load static %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>DEPOSIT</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Deposit</li>
            </ul>
        </div>
    </div>
</div>

<!-- Deposit body start -->

<div class="container mt-50 mb-50">
    {% include 'includes/messages.html' %}
      <div class="main-title" style="text-align:left !important;">
              <h1>Welcome <span>{{user.first_name}}</span></h1>
              <p>Here are the cars that you have deposited</p>
          </div>
          {% if inquiries %}
              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Car Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Action</th>
                  <th scope="col">Deposit</th>
                </tr>
                </thead>
                <tbody>
  
                {% for inquiry in inquiries %}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{inquiry.car_title}}</td>
                    <td>{{inquiry.city}}</td>
                    <td><a href="{% url 'car_detail' inquiry.car_id %}" class="btn btn-outline-dark">View Car</a></td>
                    <td>
                      <label class="toggle" for="toggle-{{ inquiry.id }}" >
                        <input type="checkbox" id="toggle-{{ inquiry.id }}" class="toggle-checkbox .checked">
                        <div class="slider"></div>
                        <div class="modal-deposit">
                          <label class="modal-deposit-close" for="toggle-{{ inquiry.id }}"></label>
                          <div class="modal-deposit-content">
                              <h2>CAR DEPOSIT</h2>
                              <p>{{ inquiry.car_title }} - {{ inquiry.city }}</p>
                                <div class="contact-dealer modal-header">
                                  <center>
                                    <img src="{% static 'img/logos/logo_white.png' %}" />
                                  </center>
                                  <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form action="{% url 'inquiry' %}" method="POST">
                                    {% csrf_token %} {% if user.is_authenticated %}
                                    <input type="hidden" name="user_id" value="{{user.id}}" />
                                    {% else %}
                                    <input type="hidden" name="user_id" value="0" />
                                    {% endif %}
                
                                    <input
                                      type="hidden"
                                      name="car_id"
                                      value="{{single_car.id}}"
                                    />
                                    <div class="form-group">
                                      <label for="name" class="col-form-label"
                                        >Hello, My Name is</label
                                      >
                                      <div class="row">
                                        <div class="col">
                                          <input
                                            type="text"
                                            name="first_name"
                                            class="form-control"
                                            placeholder="First Name"
                                            {%
                                            if
                                            user.is_authenticated
                                            %}
                                            value="{{user.first_name}}"
                                            {%
                                            endif
                                            %}
                                            required
                                          />
                                        </div>
                                        <div class="col">
                                          <input
                                            type="text"
                                            name="last_name"
                                            class="form-control"
                                            placeholder="Last Name"
                                            {%
                                            if
                                            user.is_authenticated
                                            %}
                                            value="{{user.last_name}}"
                                            {%
                                            endif
                                            %}
                                            required
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <select
                                        class="form-control"
                                        id="sel1"
                                        name="customer_need"
                                      >
                                        <option value="I'm interested in this">
                                          I'm interested in this
                                        </option>
                                        <option
                                          value="I'd like to know your best price for this"
                                        >
                                          I'd like to know your best price for this
                                        </option>
                                        <option value="I'd like to test drive this">
                                          I'd like to test drive this
                                        </option>
                                        <option value="I'd like a history report for this">
                                          I'd like a history report for this
                                        </option>
                                      </select>
                                    </div>
                
                                    <div class="form-group">
                                      <input
                                        type="text"
                                        name="car_title"
                                        class="form-control"
                                        value="{{ single_car.car_title }}"
                                        readonly
                                      />
                                    </div>
                
                                    <div class="form-group">
                                      <label for="name" class="col-form-label">I live in</label>
                                      <div class="row">
                                        <div class="col">
                                          <input
                                            type="text"
                                            name="city"
                                            class="form-control"
                                            placeholder="City"
                                            required
                                          />
                                        </div>
                                        <div class="col">
                                          <input
                                            type="text"
                                            name="state"
                                            class="form-control"
                                            placeholder="State"
                                            required
                                          />
                                        </div>
                                      </div>
                                    </div>
                
                                    <div class="form-group">
                                      <div class="row">
                                        <div class="col">
                                          <label for="name" class="col-form-label"
                                            >You can reach me by email at</label
                                          >
                                          <input
                                            type="email"
                                            name="email"
                                            class="form-control"
                                            placeholder="Email Address"
                                            {%
                                            if
                                            user.is_authenticated
                                            %}
                                            value="{{user.email}}"
                                            {%
                                            endif
                                            %}
                                            required
                                          />
                                        </div>
                                        <div class="col">
                                          <label for="phone" class="col-form-label"
                                            >or by phone at</label
                                          >
                                          <input
                                            type="text"
                                            name="phone"
                                            placeholder="Phone Number (optional)"
                                            class="form-control"
                                          />
                                        </div>
                                      </div>
                                    </div>
                
                                    <div class="form-group">
                                      <label for="message" class="col-form-label"
                                        >Add comments</label
                                      >
                                      <textarea
                                        name="message"
                                        class="form-control"
                                        placeholder="Enter your message here (optional)"
                                      ></textarea>
                                    </div>
                                    <hr />
                                    <input
                                      type="submit"
                                      value="Send"
                                      class="btn btn-block btn-danger"
                                    />
                                  </form>
                                </div>
                          </div>
                      </div>
                      
                       </label>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          {% else %}
            <h4>You have no deposit</h4>
          {% endif %}
</div>

<!-- Deposit body start -->

{% endblock %}