{% extends 'base.html' %}

{% block title %} | Reset password {% endblock %}
{% block content %}
{% load static %}
{% load socialaccount %}
{% comment %} {% providers_media_js %} {% endcomment %}


<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Forgot Password</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Login</li>
            </ul>
        </div>
    </div>
</div>


<!-- Contact section start -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-section">
                    <div class="logo-2">
                        <a href="index.html">
                            <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
                        </a>
                    </div>

                    {% if validlink %}
                        <h3>Change password</h3>
                        <form method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit">Change password</button>
                        </form>
                    {% else %}
                        <p>
                            The password reset link was invalid, possibly because it has already been user.
                            Please request a new password reset.
                        </p>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->

{% endblock %}

