{% load static %}
esheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">



    <link rel="stylesheet" type="text/css" href="{% static 'css/ie10-viewport-bug-workaround.css' %}">

    <script  src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
</head>
<body>
<div class="page_loader"></div>

{% include 'includes/topbar.html' %}

{% include 'includes/navbar.html' %}



{% block content %}


{% endblock %}

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="{% url 'search' %}" class="search-header">
        <input type="search" value="" placeholder="type keyword(s) here. Eg: audi, benz etc" name='keyword' />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>

